@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.modal-content {
  border: none;
  box-shadow: 0px 0px 30px #00000029;
  border-radius: 13px;
  max-height: 550px;
  overflow-y: hidden;
}

.modal-header {
  background: #e2e2e2;
  padding: 0 20px;
}

.modal-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.modal-header > div.info {
  column-gap: 30px;
}

.modal-header > div.info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-header img {
  width: 50px;
  height: 80px;
  object-fit: contain;
}

.modal-header h3 {
  color: #414141;
  font-weight: bold;
  font-size: 24px;
}

.modal-header p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.modal-header span {
  color: #707070;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.modal-header button {
  position: relative;
}

.modal-header button:hover {
  background-color: unset !important;
}

.modal-body {
  overflow-x: hidden;
  min-height: 450px;
}

.modal-body div.list_years {
  margin: 0 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.modal-body div.list_years button {
  border: none;
  outline: none;
  background: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 120px;
  height: 50px;
  padding-right: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.modal-body div.list_years button.active {
  background: #e36900;
}

.modal-body div.list_years button span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modal-body section.history {
  margin: 40px 20px;
  position: relative;
}

.modal-body section.history::before {
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  left: 15%;
  background: #e2e2e2;
}

.modal-body section.history article {
  display: grid;
  grid-template-columns: 15% 80%;
  grid-template-rows: 200px;
  column-gap: 40px;
  margin-top: 20px;
}

.modal-body section.history article div.month {
  padding-top: 40px;
  text-align: center;
}

.modal-body section.history article div.month span {
  color: #414141;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.modal-body section.history article div.gallery {
  background: white;
  box-shadow: 0px 3px 30px #00000029;
  border-radius: 6px;
  position: relative;
  padding: 25px 40px 20px 40px;
}

.modal-body section.history article div.gallery button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal-body section.history article div.gallery button:active {
  transform: scale(0.9);
}

.modal-body section.history article div.gallery button:nth-child(1) {
  left: 0;
}

.modal-body section.history article div.gallery button:nth-child(1) img {
  transform: rotate(90deg);
}

.modal-body section.history article div.gallery button:nth-child(3) {
  right: 0;
}

.modal-body section.history article div.gallery button:nth-child(3) img {
  transform: rotate(-90deg);
}

.modal-body section.history article div.gallery::-webkit-scrollbar {
  display: none;
}

.modal-body section.history article div.gallery::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 4px solid #e36900;
  border-radius: 50%;
  background: white;
  left: -48px;
  top: 45px;
}

.modal-body section.history article div.gallery::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  top: 45px;
  left: -10px;
  transform: rotate(45deg);
}

.modal-body section.history article div.gallery section {
  display: flex;
  column-gap: 20px;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.modal-body section.history article div.gallery section::-webkit-scrollbar {
  display: none;
}

.modal-body section.history article div.gallery section article {
  width: 230px;
  height: 150px;
  margin: 0;
  scroll-snap-align: start;
}

.modal-body section.history article div.gallery section article img {
  width: 230px;
  height: 150px;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .modal-header {
    padding: 20px;
  }

  .modal-header img {
    display: none;
  }

  .modal-body div.list_years {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal-body section.history article {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    column-gap: 0;
    row-gap: 20px;
    margin-left: 10px;
  }

  .modal-body section.history article div.month {
    padding-top: 10px;
  }

  .modal-body section.history article div.gallery {
    height: 220px;
    padding: 20px 20px 60px 20px;
  }

  .modal-body div.list_years button {
    width: 100%;
  }

  .modal-body div.list_years button span {
    font-size: 18px;
  }

  .modal-body section.history::before {
    left: -5%;
  }

  .modal-body section.history article div.gallery::after {
    left: -35px;
  }

  .modal-body section.history article div.month span::before {
    left: -35px;
    top: 95px;
  }

  .modal-body section.history article div.gallery button {
    top: unset;
    bottom: 5px;
  }

  .modal-body section.history article div.gallery button:nth-child(1) {
    left: unset;
    right: 50px;
  }

  .modal-body section.history article div.gallery button:nth-child(3) {
    right: 10px;
  }
}
